/* Jagatud */

.navbar {

}

.sisu {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

/* index.html */

.filtrid {

}

.tooted {

}


/* toode.html */

.error {

}

.toode .nimi {
    font-size: 24px;
    font-weight: bold;
}

.toode .kirjeldus {
    font-size: 16px;
}

.toode .vasak {
    width: 50%;
    float: left;
    overflow:  auto;
}

.toode .parem {
    width: 30%;
    margin-left: 70%;
}

.toode .pilt {
    width: 100%;
}

.toode .hind {
    text-align: center;
    color: red;
    font-weight: bolder;
    font-size: 24px;
}

.tabel {
    width: 100%;
    border: 1px solid;
}

.tabel_veerg {
    width: 100%;
}
.tabel_pealkiri {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabel_vasak {
    font-weight:bold;
    width: 50%;
}

.tabel_parem {
    width: 50%;
}


